.fundotbi{
    background-color: #0d5188;
    color: white;
}

.fundotbm{
    background-color: #66c5e3;
}

.numero1{
    background-color: silver;
}

.numero2{
    background-color: silver
}